Prevent an inappropriate use of BinaryUnmarshaler

Don't allow CBOR byte string (major type 2) as input to Go's Time.UnmarshalBinary.  

Time values should only be encoded/decoded using these CBOR data types: pos or neg integer, float, and text string.

For more info, see [RFC 7049 section 2.4.1](https://tools.ietf.org/html/rfc7049#section-2.4.1).

Commit 34ffc3a3fd37df109c2ea1887de5ec8848a11fd8 closes this issue.

Passed tests and fuzzing for 2+ hours.