feat: Add more encoding and decoding options

For example, max nested levels is hardcoded to 32 for any combination of CBOR arrays, maps, and tags.  Make it an option so users and certain presets (e.g. CTAP2) can specify a different limit.

Add to both EncOptions and DecOptions:

* IndefiniteLengthMode:
  * IndefiniteLengthAllowed (default)
  * IndefiniteLengthForbidden
* TagsMode:
  * TagsAllowed (default)
  * TagsForbidden - CTAP2, "Tags as defined in Section 2.4 in [RFC7049] MUST NOT be present."

Add to DecOptions:

* MaxMapArrayElements (default = 128x1024, range can be 16 to 128x1024x1024)
* MaxMapPairs (default = 128x1024, range can be 16 to 128x1024x1024)
* MaxNestingLevel (default = 32, range can be 4 to 256).  CTAP2 Canonical CBOR requires 4.

Ranges are just initial suggestions subject to change, esp. MaxMapPairs.
