bug: Numerically equal map keys with different types are not detected as duplicated

### What version of fxamacker/cbor are you using?

v2.4.0

### Does this issue reproduce with the latest release?

Yes

### What OS and CPU architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\qmuntaldiaz\AppData\Local\go-build
set GOENV=C:\Users\qmuntaldiaz\AppData\Roaming\go\env
set GOEXE=.exe
set GOEXPERIMENT=
set GOFLAGS=
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOINSECURE=
set GOMODCACHE=C:\Users\qmuntaldiaz\go\pkg\mod
set GONOPROXY=github.com/microsoft/*
set GONOSUMDB=github.com/microsoft/*
set GOOS=windows
set GOPATH=C:\Users\qmuntaldiaz\go
set GOPRIVATE=github.com/microsoft/*
set GOPROXY=https://proxy.golang.org,direct
set GOROOT=C:\Program Files\Go
set GOSUMDB=sum.golang.org
set GOTMPDIR=
set GOTOOLDIR=C:\Program Files\Go\pkg\tool\windows_amd64
set GOVCS=
set GOVERSION=go1.19
set GCCGO=gccgo
set GOAMD64=v1
set AR=ar
set CC=gcc
set CXX=g++
set CGO_ENABLED=1
set GOMOD=C:\Users\qmuntaldiaz\code\go-cose\go.mod
set GOWORK=
set CGO_CFLAGS=-g -O2
set CGO_CPPFLAGS=
set CGO_CXXFLAGS=-g -O2
set CGO_FFLAGS=-g -O2
set CGO_LDFLAGS=-g -O2
set PKG_CONFIG=pkg-config
set GOGCCFLAGS=-m64 -mthreads -Wl,--no-gc-sections -fmessage-length=0 -fdebug-prefix-map=C:\Users\QMUNTA~1\AppData\Local\Temp\go-build873353165=/tmp/go-build -gno-record-gcc-switches

</pre></details>

### What did you do?

```go
func main() {
	decOpts := cbor.DecOptions{
		DupMapKey:   cbor.DupMapKeyEnforcedAPF, // duplicated key not allowed
		IndefLength: cbor.IndefLengthForbidden, // no streaming
		IntDec:      cbor.IntDecConvertSigned,  // decode CBOR uint/int to Go int64
	}
	decMode, _ := decOpts.DecMode()

	var hdr map[interface{}]interface{}
	data := []byte{0xa2, 0x00, 0x00, 0xe0, 0x00} // map{int64(0): 0, uint64(0): 0}
	err := decMode.Unmarshal(data, &hdr)
	if err != nil {
		panic(err) // should panic but doesn't!
	}
	hdr = make(map[interface{}]interface{})
	data = []byte{0xa2, 0x00, 0x00, 0x00, 0x00} // map{int64(0): 0, int64(0): 0}
	err = decMode.Unmarshal(data, &hdr)
	if err != nil {
		panic(err) // panics correctly
	}
}
```

`go run .`

### What did you expect to see?

Detect a duplicated map key in the first map (`[]byte{0xa2, 0x00, 0x00, 0xe0, 0x00}`). [RFC8949, Section 5.6.1](https://www.rfc-editor.org/rfc/rfc8949#section-5.6.1) says:

> numeric values are distinct unless they are numerically equal

My interpretation is that uint64(0) and int64(0) should be considered equal in the CBOR data model, they both have the same numerical value, so `decMode.Unmarshal` should report an error instead of silently decoding the map with duplicated keys.

### What did you see instead?

The map keys are not detected as duplicated.


I've found this issue together with @shizhMSFT while investigating a flaky fuzz test in [go-cose](https://github.com/veraison/go-cose). It is causing signature verification errors when the COSE protected header contains a map whose keys can't be canonically sorted (aka are duplicated). The problem is that we should have detected this error much early, when CBOR-encoding the message for signing.


@qmuntal Thanks for reporting this!  I need to look into it this weekend, but wanted to provide more context.

> Detect a duplicated map key in the first map ([]byte{0xa2, 0x00, 0x00, 0xe0, 0x00}). 

`0xe00` is a simple value in CBOR major type 7 (simple/floating-point) among:
- major type 0: unsigned int
- major type 1: signed int
- major type 7: simple/floating-point

In this decoder, the `IntDec` option only applies to major types 0 and 1.

Section 2 of RFC 8949 describes simple value as:
> a simple value, identified by a number between 0 and 255, but distinct from that number itself 

Section 5.6.1 of RFC 8949  says, "numerically equivalent integer and floating-point values are distinct from each other":
> The specific data model that applies to a CBOR data item is used to determine whether keys occurring in maps are duplicates or distinct.
>
>At the generic data model level, numerically equivalent integer and floating-point values are distinct from each other

Given all this, I'd like to gather more info.  I understand this came up during fuzzing, but I'd love to know if you use simple values outside of fuzzing.  Any additional info or suggestions from you and your team are also very welcome.

@fxamacker thanks for the additional context, it helped me better understand the issue.

Let me add another example that attack this issue from another angle:

```go
decOpts := cbor.DecOptions{
	DupMapKey:   cbor.DupMapKeyEnforcedAPF, // duplicated key not allowed
	IndefLength: cbor.IndefLengthForbidden, // no streaming
	IntDec:      cbor.IntDecConvertSigned,  // decode CBOR uint/int to Go int64
}
decMode, _ := decOpts.DecMode()
encOpts := cbor.EncOptions{
	Sort:        cbor.SortCanonical,        // sort map keys
	IndefLength: cbor.IndefLengthForbidden, // no streaming
}
encMode, _ := encOpts.EncMode()

var hdr map[interface{}]interface{}
data := []byte{0xa2, 0x00, 0x00, 0xe0, 0x00} // map{int64(0): 0, uint64(0): 0}
err := decMode.Unmarshal(data, &hdr)
if err != nil {
	panic(err) // no panic
}
out, err := encMode.Marshal(hdr) // "[]byte{0xa2, 0x00, 0x00, 0x00, 0x00}"
if err != nil {
	panic(err) // no panic
}
hdr = make(map[interface{}]interface{})
err = decMode.Unmarshal(out, &hdr)
if err != nil {
	panic(err) // panics
}
```

If we consider different major types as not identical even if the value is the same, then the first unmarshal should succeed, and it does. It fills the map with two keys, int64(0) and uint64(0), and losing the knowledge that the second key is a major type 7, because Go type system can't represent that. All good til here.

Then we marshal the map again, generating the following bytes `[]byte{0xa2, 0x00, 0x00, 0x00, 0x00}`. The encoding might be correct, as we already lost the primitive type info, so it makes sense that it does not roundtrip. But IMO if it encodes both keys using the same major type 0, then it should also detect them as duplicated, even if the Go types of both keys (uint and int) correspond to different major types (0 and 1).

Finally, the last unmarshal correctly fails with a duplicated key error.

> I'd love to know if you use simple values outside of fuzzing

We don't directly represent integer types using major type 7, but we do encode user data as part of the signature, and this data might be generated following a similar pattern than the one explained in this issue. Yet, this is a corner case of a corner case, but I want to understand the root cause and if there is anything to fix before documenting this limitation and keep going.



Please accept my apologies, I made a mistake when my comment said major types 0 and 1 are unsigned & signed integers.  I corrected the comment to use CBOR's definition rather than how it decodes to Go:

- major type 0: unsigned integer in the range 0..2^64-1 inclusive
- major type 1: negative integer in the range -2^64..-1 inclusive
- major type 7: simple/floating-point

With this corrected definition (my apologies again), major type 0 and major type 1 won't have same value.

> Yet, this is a corner case of a corner case, but I want to understand the root cause and if there is anything to fix before documenting this limitation and keep going.

I see your point and thanks for the examples and explanation.  I need to look into it tomorrow (Saturday) due to my work schedule.  Thanks again for opening this issue.

@qmuntal
With default settings, `cbor.DupMapKeyEnforcedAPF` setting is more strict (more aggressive) at detecting duplicate keys than section 5.6.1 of RFC 8949 because it treats map key of simple value 2 as equivalent to integer 2.

When used with `cbor.IntDecConvertSigned`, the `cbor.DupMapKeyEnforcedAPF` setting complies more exactly with section 5.6.1 of RFC 8949 by treating simple value 2 as not equivalent to integer 2. 

On equivalence of map keys in [section 5.6.1 of RFC 8949 (CBOR)](https://www.rfc-editor.org/rfc/rfc8949#section-5.6.1):
- "a simple value 2 is not equivalent to an integer 2"
- "At the generic data model level, numerically equivalent integer and floating-point values are distinct from each other"
- "specific data models can make values equivalent for the purpose of comparing map keys that are distinct in the generic data model. Note that this implies that a generic decoder may deliver a decoded map to an application that needs to be checked for duplicate map keys by that application"

[RFC 9052 (COSE)](https://datatracker.ietf.org/doc/html/rfc9052) doesn't seem to define a specific data model that handles simple values vs integers differently for map keys than section 5.6.1 of RFC 8949 (CBOR).

@fxamacker
Just an idea...consider adding a new preset for COSE, like `func GoCoseDecOptions(version int) DecOptions`.

Such a preset for COSE can require map keys be limited to these:
- major type 0: unsigned integer in the range 0..2^64-1 inclusive
- major type 1: negative integer in the range -2^64..-1 inclusive
- major type 3: text string encoded as UTF-8

On CBOR-terminology and map keys in [section 1.5 of RFC 9052 (COSE)](https://www.rfc-editor.org/rfc/rfc9052#name-cbor-related-terminology):
>In COSE, we use text strings, negative integers, and unsigned integers as map keys.
>...
>In a CBOR map defined by this specification, the presence a label that is neither a text string nor an integer is an error.

Map key of simple value 2 is not equivalent to integer 2 per RFC 8949 (CBOR), thus "simple value" is not an "integer" which makes the presence of simple value as a map key (aka label) an error according to RFC 9052 (COSE).

If this is correct, then only allowing major types 0, 1, and 3 for map keys seems reasonable for RFC 9052 (COSE).

@fxamacker
My suggestion about adding a COSE preset allowing only map keys of major types 0, 1, and 3 assumes it's acceptable to apply this limitation to all CBOR maps decoded by the CBOR codec using the COSE settings.

It was easier for me to understand current status in more detail using this example code.

The `cbor.IntDecConvertSigned` option decodes 0 (unsigned integer) to int64(0) and decodes simple(0) (major type 7 simple value) to uint64.   In Go, int64(0) and uint64(0) are not duplicate keys for `map[interface{}]interface{}`.

```Go
package main

import (
	"fmt"

	"github.com/fxamacker/cbor/v2"
)

func decode(data []byte, intConvertOption cbor.IntDecMode) (map[interface{}]interface{}, error) {
	decOpts := cbor.DecOptions{
		DupMapKey:   cbor.DupMapKeyEnforcedAPF, // detect duplicate map key
		IndefLength: cbor.IndefLengthForbidden,
		IntDec:      intConvertOption,
	}
	decMode, _ := decOpts.DecMode()

	var m map[interface{}]interface{}

	err := decMode.Unmarshal(data, &m)
	if err != nil {
		return m, err
	}

	return m, err
}

func main() {
	var m map[interface{}]interface{}
	var data []byte
	var err error

	// CBOR map with:
	//   key1=unsigned(0), value1=0
	//   key2=simple(0),   value2=0
	data = []byte{0xa2, 0x00, 0x00, 0xe0, 0x00} // map{0: 0, simple(0): 0}

	// duplicate map key (both decode to Go uint64)
	m, err = decode(data, cbor.IntDecConvertNone)
	fmt.Printf("m is %v, error: %v\n", m, err)

	// not duplicate map key (decode to Go uint64(0) and int64(0))
	m, err = decode(data, cbor.IntDecConvertSigned)
	fmt.Printf("m is %v, first key is int64(0) and second key is uint64(0)\n", m)
}
/*
OUTPUT:
m is map[0:<nil>], error: cbor: found duplicate map key "0" at map element index 1
m is map[0:0 0:0], first key is int64(0) and second key is uint64(0)
*/
```
https://go.dev/play/p/rbFtL_Gqp_7

@x448 thanks for the comments and code examples!  Please review PR #370 when you have time.

@qmuntal I needed to reread parts of RFC 8949 and comments :smile: 

CBOR map `0xa2 0x00 0x00 0xe0 0x00` (`{0: 0, simple(0): 0}`) doesn't contain duplicate map keys because the keys are of different CBOR types.  The first key `0x00` is a CBOR positive integer 0, while the second key `0xe0` is a CBOR simple value 0.  

CBOR simple values are [extension points](https://www.rfc-editor.org/rfc/rfc8949.html#name-extension-points) along with CBOR tags.  CBOR simple values are [0, 255], but they are "distinct from that number itself".  Also RFC 8949, [section 5.6.1](https://www.rfc-editor.org/rfc/rfc8949.html#name-equivalence-of-keys) on equivalence of keys says,
> a simple value 2 is not equivalent to an integer 2

Given this, the code snippet in your first example behaved correctly according to my understanding of RFC 8949 (CBOR).

However, a related problem was discovered while investigating this.  It will be resolved by PR #370. 

CBOR simple values like 0 (which are unassigned/reserved by IANA) always decoded to uint64.  This caused `cbor.IntDecConvertNone` vs `cbor.IntDecConvertSigned` to have different map key detection of CBOR unsigned integer vs CBOR simple value.

PR #370 uses a new type SimpleValue which is distinct from Go's numeric types, and this allows roundtrip you mentioned in your previous post.  Please feel free to comment/review PR #370.

Please let me know what you think.  Thanks again for opening this issue.

Thanks for jumping into this @fxamacker and @x448. #370 looks great and it solve the issue that made me report this bug. Roundtripping simple values will be a great addition.

@x448 about your `GoCoseDecOptions` idea, it would not have solved this issue, as the problem is in a user provided CBOR map, not in a CBOR map defined in the COSE spec, so all types would be permitted:

> In a CBOR map defined by this specification, the presence a label that is neither a text string nor an integer is an error.

On the other hand, go-cose does already validate that keys of CBOR maps defined in the COSE spec only contain integer or strings: https://github.com/veraison/go-cose/blob/ac30917645090cb2fa087cbf785d01df9c7a5292/headers.go#L527. So, there is no need to add this capability to fxamacker/cbor at this point 😄.

 

Sounds good!  Please feel free to reopen if needed.

I'll open separate issue to match PR #370 for visibility until it gets merged.