Preset options for CTAP2 should forbid CBOR tags and reduce max nested levels to 4

Since v2.1 added support for CBOR tags, prohibit CBOR tags from being present for CTAP2 preset options.  Do the same for additional options added/exported in v2.2 if applicable.

Calling CTAP2EncOptions() should return preset EncOptions with:
 * :new: TagsMd = TagsForbidden
 * :new: IndefiniteLength = IndefiniteLengthForbidden
 * Sort = SortBytewiseLexical
 * and etc.

CTAP2 Canonical CBOR:
```
The CTAP2 canonical CBOR encoding form uses the following rules:

    Integers must be encoded as small as possible.

        0 to 23 and -1 to -24 must be expressed in the same byte as the major type;

        24 to 255 and -25 to -256 must be expressed only with an additional uint8_t;

        256 to 65535 and -257 to -65536 must be expressed only with an additional
uint16_t;

        65536 to 4294967295 and -65537 to -4294967296 must be expressed only with 
an additional uint32_t.

    The representations of any floating-point values are not changed.

    The expression of lengths in major types 2 through 5 must be as short as possible. 
The rules for these lengths follow the above rule for integers.

    Indefinite-length items must be made into definite-length items.

    The keys in every map must be sorted lowest value to highest. The sorting rules are:

        If the major types are different, the one with the lower value in numerical order
sorts earlier.

        If two keys have different lengths, the shorter one sorts earlier;

        If two keys have the same length, the one with the lower value in 
(byte-wise) lexical order sorts earlier.

    Note: These rules are equivalent to a lexicographical comparison of the canonical
encoding of keys for major types 0-3 and 7 (integers, strings, and simple values). 
They differ for major types 4-6 (arrays, maps, and tags), which CTAP2 does not use
as keys in maps. These rules should be revisited if CTAP2 does start using the 
complex major types as keys.

    Tags as defined in Section 2.4 in [RFC7049] MUST NOT be present.

Because some authenticators are memory constrained, the depth of nested 
CBOR structures used by all message encodings is limited to at most four (4) levels
of any combination of CBOR maps and/or CBOR arrays. Authenticators MUST 
support at least 4 levels of CBOR nesting. Clients, platforms, and servers 
MUST NOT use more than 4 levels of CBOR nesting.
```