bugfix+feature: support CBOR simple values that are unsigned/reserved by IANA

### Problem

CBOR simple values like 0 (which are [unassigned/reserved by IANA](https://www.iana.org/assignments/cbor-simple-values/cbor-simple-values.xhtml)) are unsupported and are decoded to `uint64`.  This causes two issues:
- it prevents roundtrip tests because CBOR simple(0) gets decoded as uint64(0) and encoded as CBOR unsigned integer.
- it causes `cbor.IntDecConvertNone` vs `cbor.IntDecConvertSigned` to have different map key detection of CBOR unsigned integer 0 vs CBOR simple value 0 when decoding.

Currently, only 4 CBOR simple values are supported (they're the only values [assigned by IANA](https://www.iana.org/assignments/cbor-simple-values/cbor-simple-values.xhtml)):
- false
- true
- null
- undefined

We should add support for remaining simple values which are unassigned/reserved by IANA.

Special thanks to @qmuntal and @x448 for their comments in issue #369.

### Background

CBOR simple values (subset of major type 7) are [extension points](https://www.rfc-editor.org/rfc/rfc8949.html#name-extension-points) along with CBOR tags. CBOR simple values are [0, 255], but they are "distinct from that number itself". Also RFC 8949, [section 5.6.1](https://www.rfc-editor.org/rfc/rfc8949.html#name-equivalence-of-keys) on equivalence of map keys says,

>  a simple value 2 is not equivalent to an integer 2

Given this, a Go map with `interface{}` keys should always handle uint64(0) and simple(0) as distinct keys.

### Proposed Solution

Add a new Go type, `SimpleValue` which is distinct from Go's numeric types.

This allows CBOR simple values to be
- preserved in roundtrip tests, even for simple values unassigned/reserved by IANA.
- used as map keys with more consistent duplicate key detection.

PR #370 implements the proposed solution.